#welcomeLink{
    display:none
}

@media (min-width: 40rem){
    #welcomeLink{
        display:flex
    }
}

.link-logout {
    position: relative;
    right: 3rem;
    
}
.logout{
    display: none;
}

.profile-info {
    span {
    position: relative;
    right: 3rem;

    }
    
}