$green: #20c466;

.cards {
  &#cat-aws > #CardBorder {
    border-bottom: 9px solid #ff9900;
  }
  &#cat-python > #CardBorder {
    border-bottom: 9px solid #366f9f;
  }
  &#cat-msft > #CardBorder {
    border-bottom: 9px solid #a91d22;
  }
  &#cat-java > #CardBorder {
    border-bottom: 9px solid #e76f00;
  }
  &#cat-linux > #CardBorder {
    border-bottom: 9px solid #000;
  }
  &#cat-cisco > #CardBorder {
    border-bottom: 9px solid #15495d;
  }
  &#cat-msft2 > #CardBorder {
    border-bottom: 9px solid #0072c6;
  }
  &#cat-js > #CardBorder {
    border-bottom: 9px solid #f7df1e;
  }
  &#cat-oracle > #CardBorder {
    border-bottom: 9px solid #cf402d;
  }
  &#cat-docker > #CardBorder {
    border-bottom: 9px solid #364548;
  }

  &:hover #CardBorder,
  &:focus #CardBorder,
  &:active #CardBorder {
    border: 4px solid $green !important;
  }

  &:hover #bagIcon,
  &:focus #bagIcon,
  &:active #bagIcon {
    color: white;
    background: $green;
    transition: all 0.5s ease;
    border-radius: 6px;
  }
 
}
